<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
  {%- include head.html -%}
  <title>{% if page.title %}{{ page.title }} &mdash; {% endif %}{{ site.title }}</title>

  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha512-SfTiTlX6kk+qitfevl/7LibUOeJWlt9rbyDn92a1DqWOw9vWG2MFoays0sgObmWazO5BQPiFucnnEAjpAB+/Sw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link href="{{ '/assets/css/style.css' | relative_url }}" rel="stylesheet">
  <link href="{{ '/assets/css/local-style.css' | relative_url }}" rel="stylesheet">
  <body>
    <div class="container"> 
      <div class="sidebar">
        {% include sidebar.html %}
      </div>
      <div class="content">
        {{ content }}
      </div>
    </div>
  </body>
</html>
