{%- comment -%}
<!--
     This include accepts two parameters (which combine by intersection)
   - category: restrict misc_elsewhere docs to those with this category value

     It is intended to next inside markdown content, i.e. within a page layout.
-->
{%- endcomment -%}

{% assign misc_elsewhere_docs = site.misc_elsewhere | sort: 'date' | reverse %}


{% if include.category # filter by category %}
{%   assign misc_elsewhere_docs = misc_elsewhere_docs | where_exp: "item", "item.categories contains include.category" %}
{% endif %}


{% assign category_ids = misc_elsewhere_docs | map: "categories" | flatten | uniq  %}
{% assign categories = site.categories | where_exp: "c", "category_ids contains c.path" %}

<script
  src="https://code.jquery.com/jquery-3.6.0.min.js"
  integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
  crossorigin="anonymous"></script>
<script src="{{ '/assets/js/search.js' | relative_url }}"></script>
<noscript><style>form.search { display: none; }</style></noscript>
<div class="post-list-wrapper">
  <p class="badge">
    {{ misc_elsewhere_docs.size }} {% if misc_elsewhere_docs.size == 1 %}misc document{% else %}misc documents{% endif %}.
  </p>

  {%- if misc_elsewhere_docs.size > 0 -%}
  
  <form class="search">
    <input type="text" class="search-input search-input-text" placeholder="Search Titles">
    
    {%- if categories.size > 0 # some misc_elsewhere_docs have zero catergories -%}
    <select class="search-input search-input-category" name="categories">
      <option value="">All Categories</option>
      {% for category in categories | sort: "title" %}
      <option value="{{ category.path }}">{{ category.title | escape }}</option>
      {% endfor %}
    </select>
    {%- endif -%}

    <button class="search-input search-button" >Clear</button>
  </form>
  
  <ul class="post-list" id="search-list">
    {%- for misc_elsewhere_doc in misc_elsewhere_docs -%}
    <li class="post-list-item"
      _category-ids="{{ misc_elsewhere_doc.categories | join(" ") }}">
      <div class="flex-align">
        
        {%- assign date_format = "%Y/%m/%d" -%}
        <span class="post-date">{{ misc_elsewhere_doc.date | date: date_format }}</span>
        
        <span class="post-list-title">
          {% if misc_elsewhere_doc.published != false %}
          <a class="post-link" href="{{ misc_elsewhere_doc.url | relative_url }}">
            {{ misc_elsewhere_doc.title | escape }}
          </a>
          
          {% else %}
          {{   misc_elsewhere_doc.title | escape }}
          
          {% endif %}
        </span>
        
      </div>
      {% if misc_elsewhere_doc.subtitle %}
      <div class="post-list-subtitle">{{ misc_elsewhere_doc.subtitle | escape }}</div>
      {% endif %}
      
    </li>
    {%- endfor -%}
  </ul>
  {%- endif -%}
</div>
