{%- comment -%}
<!--
     This include accepts the following items 
     
     It is intended to next inside an <article class="post"> tag,
     i.e. within a top-level/default layout.
-->
{%- endcomment -%}

{% assign topic_collection = include.topic_collection %}
{% assign item_field = include.item_field %}
{% assign topics = include.topics | sort: 'title' %}
{% assign items = include.items %}

<div class="post-list-content">
  <div class="topic-header"></div>
  <p class="badge">
    {{ topics.size }} {% if topics.size == 1 %}item{% else %}items{% endif %}.
  </p>

  {%- if topics.size > 0 -%}
  <div class="post-list-wrapper">
    <ul class="post-list">
      {%- for topic in topics -%}
      {%-   assign topic_items = items | where: item_field, topic.path -%}
      {%-   assign count = 0 -%}
      {%-   for topic_item in topic_items -%}
      {%-     if topic_item[item_field] == category.path or topic_item[item_field] contains category.path # single or multiple! -%}
      {%-       assign count = count | plus: 1 -%}
      {%-     endif -%}
      {%-   endfor -%}

      {%- if topic_items.size > 0 -%}
      <li class="post-list-item">
        <div class="flex-align">
          <span class="post-list-title">
            <a class="post-link" href="{{ topic.url | relative_url }}">
              {{ topic.title | escape }}
            </a>
          </span>
        </div>
        <span class="badge">
          {{ topic_items.size }} {% if topic_items.size == 1 %}item{% else %}items{% endif %}
        </span>
      </li>
      {%- endif -%}
      {%- endfor -%}
    </ul>
  </div>
  {%- endif -%}
</div>
