---
layout: default
---
{% assign publication = site.publications | where: "path", page.publication | first %}
<article class="post">
  <header class="post-header">
    <div class="post-title">{{ page.title | escape }}</div>
    <div class="post-subtitle">{{ page.subtitle }}</div>
    <p class="meta">
      {% if site.author %}
      <span class="site-by">By <span class="site-author">{{ site.author | escape }}</span>.</span>
      {% endif %}
      <span class="published-in">
        Published in <a href="{{ publication.url | relative_url }}">{{ publication.title | escape }}</a>
      </span>
      <span class="published-on">
        on {{ page.date | date: "%-d %B %Y" }}
      </span>
    </p>
  </header>

  
  {% if page.image and page.image.size > 0 %}
  <div class="image">
    <img class="article hero" src="{{ page.image | relative_url }}"
      alt="{{ page.image_desc | default: 'the main article image'}}">
  </div>
  {% endif %}

  <div class="post-text">
    {{ content }}
  </div>
</article>
