---
layout: default
---
<article class="post">
  <header class="post-header">
    <div class="post-title">{{ page.title | escape }}</div>
  </header>

  {% if page.img %}
  <div>
    <a href="{{ page.url | relative_url }}">
      <img class="publication hero" src="{{ page.img | relative_url }}" alt="publication image">
    </a>
  </div>
  {% endif %}

  <div class="post-text">
    {{ content }}
  </div>

  {% assign items = site.articles | concat: site.videos_elsewhere | concat: site.misc_elsewhere %}
  {% include collections-list.html items=items publication=page.path %}
</article>
